@model SecretSanta.Models.EventAdmin.EventAdminPageModel
@{
    ViewData["Title"] = "Event Admin";
}

<h2>Welcome to the Admin Page for @Model.EventName, @Model.UserName</h2>

<p>This events Shared ID: @Model.SharedEventId.ToString()</p>
<p>Share this ID with people you'd like to invite to this event.</p>

<br/>

<form asp-action="UpdateSettings">
    <label asp-for="AllowRegistration">Allow Registration</label>
    <input asp-for="AllowRegistration" />
    <br />
    <label asp-for="AllowMatching">Allow Matching</label>
    <input asp-for="AllowMatching" />
    <br />
    <input type="submit" value="Update"/>
</form>

<form method="post">
    <table class="table">
        <thead>
            <tr>
                <th>User</th>
                <th>Has Match?</th>
                <th>Is a Match?</th>
            </tr>
        </thead>
        <tbody>
            @for (int i=0; i<Model.UserList.Count; i++) {
                var user = Model.UserList[i];

                <tr>
                    <td>@user.Name (@user.UserName)</td>
                    <td>@user.HasMatched</td>
                    <td>@user.IsMatched</td>
                    <td align="justify">
                        @if (Model.UserId != user.UserId) { @*Sorry, you can't delete yourself*@
                            var adminText = user.IsAdmin ? "Revoke Admin" : "Make Admin";
                            <button type="submit" asp-action="ToggleAdminAccess" asp-route-userId="@user.UserId">@adminText</button>
                            <button type="submit" asp-action="RemoveUserFromEvent" asp-route-userId="@user.UserId">Remove User</button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>

<a asp-controller="Match" asp-action="GetMatchEvent" asp-route-eventId="@Model.EventId">Back to event</a>