@model SecretSanta.Models.UserPageModel
@{
    ViewData["Title"] = "Update Password";
}
<h2>UpdatePassword</h2>
<hr />
<div>
    <form asp-action="UpdatePassword" asp-controller="User">
        <div>
            <label asp-for="@Model.PasswordReset.CurrentPassword" style="width:150px">Current Password:</label>
            <input asp-for="@Model.PasswordReset.CurrentPassword" />
        </div>
        <div>
            <label asp-for="@Model.PasswordReset.NewPassword" style="width:150px">New Password:</label>
            <input asp-for="@Model.PasswordReset.NewPassword" />
        </div>
        <div>
            <label asp-for="@Model.PasswordReset.VerifyPassword" style="width:150px">Confirm Password:</label>
            <input asp-for="@Model.PasswordReset.VerifyPassword" />
        </div>
        <input type="submit" class="btn btn-default" value="Update Password" />
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}