@model SecretSanta.Models.AdminModel
@{
    ViewData["Title"] = "Admin";
}

<h2>Welcome to the Admin Page, @Model.User</h2>

<form asp-action="UpdateSettings">
    <label asp-for="AllowRegistration">Allow Registration</label>
    <input asp-for="AllowRegistration" />
    <br />
    <label asp-for="AllowMatching">Allow Matching</label>
    <input asp-for="AllowMatching" />
    <br />
    <input type="submit" value="Update"/>
</form>

<form method="post">
    <table class="table">
        <thead>
            <tr>
                <th>User</th>
                <th>Has Match?</th>
                <th>Is a Match?</th>
            </tr>
        </thead>
        <tbody>
            @for (int i=0; i<Model.UserList.Count; i++) {
                UserAdminSettings user = Model.UserList[i];

                <tr>
                    <td>@user.Name (@user.UserName)</td>
                    <td>@user.HasMatched</td>
                    <td>@user.IsMatched</td>
                    <td align="justify">
                        <button type="submit" asp-action="ResetUserPassword" asp-route-userId="@user.UserId">Reset Password</button>
                        @if (Model.UserId != user.UserId) { @*Sorry, you can't delete yourself*@
                            <button type="submit" asp-action="DeRegisterUser" asp-route-userId="@user.UserId">Delete User</button>
                            var adminText = user.IsAdmin ? "Revoke Admin" : "Make Admin";

                            <button type="submit" asp-action="ToggleAdminAccess" asp-route-userId="@user.UserId">@adminText</button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>
