@model SecretSanta.Models.SecretMatch

@{
    ViewData["Title"] = "Existing Match";
}

<h2>Secret Santa Match</h2>
<hr />
<div>
    <p>Your match is <b>@Model.TheirSecretMatch</b>.</p>
    <br />
    @if (Model.AllowReroll && Model.AllowMatching) {
        <form asp-action="RerollResult">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">

                @Html.HiddenFor(m => m.Name, "name")
                @Html.HiddenFor(m => m.AllowReroll, "allowReroll")
                @Html.HiddenFor(m => m.TheirSecretMatch, "theirSecretMatch")
                <input type="submit" value="Re-Match" class="btn btn-default" />
                <label>You may only do this once!</label>
            </div>
        </form>
    }

    <div style="width:100%">
        <h3>@Model.TheirSecretMatch's Interests:</h3>
        <p>@Model.MatchInterests</p>
    </div>

    <div style="width:100%">
        <h3>What are your interests?</h3>
        <form asp-action="UpdateInterests">
            @Html.HiddenFor(m => m.Name, "name")
            @Html.HiddenFor(m => m.AllowReroll, "allowReroll")
            @Html.HiddenFor(m => m.TheirSecretMatch, "theirSecretMatch")
            <textarea asp-for="Interests" style="width:75%;max-width:500px"></textarea>

            <br />
            <input type="submit" value="Update My Interests" class="btn btn-default" />
        </form>
        <button class="btn btn-default" onclick="location.href='@Url.Action("LogOut")'">Log Out</button>
    </div>

    @if (Model.UserIsAdmin)
    {
        <div>
            <button class="btn btn-default" onclick="location.href='@Url.Action("OpenAdminPage")'">Go to Admin Page</button>
        </div>
    }
</div>
