@model SecretSanta.Models.SecretMatch
@{
    ViewData["Title"] = "Get Match";
}
<h2>Make Your Secret Santa Match</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateMatch">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.HiddenFor(m => m.Name, "name")
                @Html.HiddenFor(m => m.AllowReroll, "allowReroll")
                @if (string.IsNullOrEmpty(Model.TheirSecretMatch)) {
                    <input type="submit" value="Match" class="btn btn-default" />
                }
            </div>
        </form>
        <form asp-action="RerollResult">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.HiddenFor(m => m.Name, "name")
                @Html.HiddenFor(m => m.AllowReroll, "allowReroll")
                @Html.HiddenFor(m => m.TheirSecretMatch, "theirSecretMatch")
                @if (!string.IsNullOrEmpty(Model.TheirSecretMatch)) {
                    if (Model.AllowReroll) {
                        <input type="submit" value="Re-Match" class="btn btn-default" />
                        <label>You may only do this once!</label>
                    }
                    else {
                        <input type="submit" value="Re-Match" class="btn btn-default" disabled="disabled" />
                        <label>You have used all of your re-matches.</label>
                    }
                }
            </div>
        </form>
        @if (!string.IsNullOrEmpty(Model.TheirSecretMatch)) {
            <div class="alert-info">
                <label>Your match is @Model.TheirSecretMatch.</label>
            </div>
        }
        @*@if (Model.AllowReroll) {
            @Html.ActionLink("Reroll Result", "RerollResult", "Match", new { name = Model.Name, matchName = Model.TheirSecretMatch })
        }*@
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
